body{   
    
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(dream2.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    
    

}  
#frm{  
    border: solid rgb(33, 10, 136) 1px;  
    width:25%;  
    border-radius: 2px;  
    margin: 120px auto;  
    background: rgb(34, 134, 151);  
    padding: 50px;  
}  

#frm input{
    font-family: "Robot",sans-serif;
    outline: 1;
    background: #f5f5f5;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
#btn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(17, 211, 218);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(104, 144, 150, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#btn:hover {
    background-color: rgba(255, 0, 0, 1);
}

#btn:active {
    box-shadow: inset -2px -2px 3px rgba(1, 36, 33, 0.6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
